body {
  font-size: 16pt;
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #f0f6f5;
  /* background-color: rgb(68,171,87, 0.5); */
  color: #111;
}

a {
  color: rgb(0, 89, 74);
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 960px;
}

#info-area {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#info-area h2 {
  font-size: 24pt;
  margin-bottom: -10px;
  margin-top: 10px;
}

#board-area {
  margin: 25px;
  display: flex;
  justify-content: center;
}

#board {
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
  font-weight: 600;
}

#status {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

.stats {
  width:50%;
  padding: 0px 40px 20px 40px;
  font-size: 120%;
}

.stats h3, .stats .agent-name {
  text-align: center;
  margin-bottom: 5px;
}

.agent-name {
  font-weight: 600;
}

.stats h4 {
  font-size: 16pt;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #444;
  text-decoration: underline;
  font-weight: 400;
}

#board {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-left: 175px;
  margin-bottom: 30px;
}

#board .cell {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42pt;
  color: black;
}

#board .winning-cell {
  background-color: green;
  color: white;
}

#board .error-cell {
  border: 2px solid crimson;
  background-color: crimson;
}

table {
  font-size: 12pt;
  width: 100%;
}

td:nth-child(2n) {
  text-align: right;
  padding-left: 20px
}

.spacer-above {
  padding-top: 1em;
}
.small-text {
  font-size: 9pt;
}

.center {
  text-align: center;
}
.bold {
  font-weight: 600;
  font-size: 16pt;
}

.vranger {
  position: relative;
  transform: rotate(90deg);
  transform-origin: top left;
  left: 100px;
  top: 60px;
}
